build/*
*.swp
.#*
\#*#
*__pycache__*
*.pyc
*.pyo
*.bak
*~
.DS_Store
source/includes/*.cpp
source/includes/*.java
source/includes/*.cs
source/tutorial/install-on-linux.txt
source/includes/toc-install-on-linux-landing.yaml
source/tutorial/install-mongodb-on-red-hat.txt
source/tutorial/install-mongodb-on-windows.txt
source/includes/steps-create-manually-windows-service-for-mongodb.yaml
source/includes/steps-get-mongodb-for-windows.yaml
source/includes/steps-install-mongodb-on-windows-unattended.yaml
source/includes/fact-selinux-redhat-options.rst
source/includes/steps-run-mongodb-on-linux.yaml
source/includes/steps-run-mongodb-on-a-linux-distribution.yaml
source/includes/steps-run-mongodb-on-debian.yaml
source/includes/steps-run-mongodb-on-windows.yaml
source/includes/list-mongodb-org-packages.rst
source/includes/example-*.rst
source/includes/driver-table.rst
source/includes/fact-installation-bind-ip-default-in-config.rst
source/includes/fact-installation-directories.rst
source/includes/fact-deprecated-32bit.rst
source/includes/note-package-change.rst
source/includes/note-suse-ulimit.rst
source/includes/warning-selinux-rhel7.rst
source/includes/toc-*yaml
source/includes/steps-*yaml
source/includes/release-*yaml
source/tutorial/install-mongodb-on-*.txt
source/includes/fact-ubuntu-lts-support.rst
source/includes/extracts-fact-3.0-linux-package-repo.yaml
source/includes/fact-installation-rhel5.rst
source/includes/fact-mongodb-org-package-init-scripts.rst
!source/includes/steps-client-*.yaml
!source/includes/steps-getting-started-prereq.yaml
!source/includes/client-*rst
!source/includes/steps-primer*yaml
!source/includes/prereq-*.rst
!source/includes/toc-primer-root.yaml
giza.log
